node_modules/
.git/
.DS_Store

template/**/node_modules/
template/**/Pods/
template/**/build/
template/android/.gradle/
template/android/.kotlin/
template/android/app/.cxx/
template/android/app/build/
template/android/build/
template/ios/build/
template/ios/.xcode.env.local

template/android/app/src/main/assets/index.android.bundle
template/android/link-assets-manifest.json
template/ios/Podfile.lock
template/ios/link-assets-manifest.json
